.THIS .leftPaddingClass {
    padding-left: 2rem;
}

.THIS .slds-card {
    height: 100% !important;
}

.THIS .pillSize {
    width: 100%;
}

.THIS.heightPopup {
    height: 150px;
    width: 150px;
}

.THIS .sfcol {
    background: #c0d1f5;
}

.THIS .csvcol {
    background: #ecbbd9;
}

.THIS .slds-table .slds-form-element__label {
    display: none;
    visibility: hidden;
}

.THIS .slds-select_container .slds-select .slds-select:hover {
    font-size: 13px;
    line-height: inherit;
    color: lightblue;
}

/*

.THIS .slds-is-active:first-child:before{
    background : #3c4ca3 !important;
}
.THIS .slds-is-active:first-child:after{
    background : #3c4ca3 !important;
}
.THIS .slds-is-active{
    background : #3c4ca3 !important;
}

.THIS .slds-is-active:before{
    background : #3c4ca3 !important;
}
.THIS .slds-is-active:after{
    background : #3c4ca3 !important;
}

.THIS .slds-is-complete{
    background : #ce298c !important;
}
.THIS .slds-is-complete:before{
    background : #ce298c !important;
}
.THIS .slds-is-complete:after{
    background : #ce298c !important;
}*/



/* --------------------------------------------------jenish gangani */
.THIS .slds-button_brand {
    background-color: #3c4ca3 !important;
}

.THIS .comments-icn {
    --sds-c-icon-color-foreground-default: rgb(255, 254, 253);
}

.THIS .a {
    color: black;
}

.THIS .secoundColour {
    color: white !important;
}

.THIS .thirdColour {
    color: white !important;
}

.THIS .slds-tabs--path .slds-is-current {
    background-color: #3c4ca3 !important;
}

.THIS .slds-tabs--path .slds-is-complete {
    background-color: #ce298c !important;
}

.THIS .slds-tabs_path .slds-is-current+.slds-is-incomplete::before {
    background-color: #3c4ca3 !important;

}

.THIS .slds-tabs--path .slds-is-current+.slds-is-incomplete::before {
    background-color: #3c4ca3 !important;
}

.THIS .slds-tabs_path__item+.slds-is-complete:before {
    background-color: #ce298c !important;
}

.THIS .slds-tabs_path__item+.slds-is-current:before {
    background-color: #ce298c !important;
}

.THIS .slds-tabs--path__item+.slds-is-complete:before {
    background-color: #ce298c !important;
}

.THIS .slds-tabs--path__item+.slds-is-current:before {
    background-color: #ce298c !important;
}

/* --------------------------------------------------jenish gangani */


.THIS .slds-select_container::before {
    border-bottom: none;
}

.THIS .slds-select_container::after {
    border-top: none;
}

.THIS .slds-select_container .slds-select {
    -webkit-appearance: menuList
}

/* Style for large screens */
@media only screen and (min-width: 768px) {
    .THIS .slds-card_full {
        width: 50%;
        margin: 0 auto;
    }
}

/* Style for medium screens */
@media only screen and (max-width: 767px) {
    .THIS .slds-card_full {
        width: 80%;
        margin: 0 auto;
    }
}

/* Style for small screens */
@media only screen and (max-width: 480px) {
    .THIS .slds-card_full {
        width: 100%;
        margin: 0;
    }
}